<div id="page">
  <h2>{{page.title}}</h2>

  {% paginate blog.articles by 5 %}

    {% for article in blog.articles  %}

    <div class="article">
      <div class="headline">
  		<h3 class="title">
        <a href="{{article.url}}">{{ article.title }}</a>
      </h3>
  		<h4 class="date">
  		  Posted {{ article.published_at | date: "%B %d, %Y" }} &mdash;
  		  {% if blog.comments_enabled? %}
          <a href="{{article.url}}#comments">{% if article.comments_count == 0 %}Leave a comment{% else %}{{ article.comments_count | pluralize: 'comment', 'comments' }}{% endif %}</a>
        {% endif %}</h4>
      </div>
    
      <div class="article-body textile">
        {{ article.content }}
      </div>    
    </div>
  
    {% endfor %}
    
    <div id="pagination">
      {{ paginate | default_pagination }}
    </div>

  {% endpaginate %}
  
</div>